<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
     	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
     	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<!-- 激活利用注解进行装配 -->
	<context:annotation-config />
	
	<context:component-scan base-package="com.xianling.messageswap" />
	<context:component-scan base-package="com.xianling.eventservice" />
	<context:component-scan base-package="com.xianling.configure" />
	
	<context:component-scan base-package="com.xianling.global" />
	
	<context:component-scan base-package="com.xianling.io" />
	<context:component-scan base-package="com.xianling.bus" />
	<context:component-scan base-package="com.xianling.stage" />
	<context:component-scan base-package="com.xianling.login" />
	<context:component-scan base-package="com.xianling.public_" />
	<context:component-scan base-package="com.xianling.remoteservice" />
	<context:component-scan base-package="com.xianling.gamerule" />
	<context:component-scan base-package="com.xianling.kuafuio.util" />
	
	<aop:aspectj-autoproxy/>

	<!-- all property config -->
	<import resource="property/property.xml"/>
	
	<!-- data access -->
	<import resource="ibatis/ibatisConfig.xml"/>
	
	<!-- webservice -->
	<import resource="webservice/webservice-server.xml"/>
 	
	<!-- module init -->
	<import resource="init/module-init.xml"/>
	
</beans>